@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
  }
  50% {
    transform: scale(3);
  }
  25% {
    transform: scale(4);
  }
  0% {
    transform: scale(5);
  }
}
.animate-zoom {
  animation: zoomInOut 10s ease-in-out infinite;
}

@keyframes backgroundChange {
  0% {
    background-image: url('/assets/images/wallpapers/wallpaper1.png');
  }
  25% {
    background-image: url('/assets/images/wallpapers/wallpaper2.png');
  }
  50% {
    background-image: url('/assets/images/wallpapers/wallpaper3.png');
  }
  75% {
    background-image: url('/assets/images/wallpapers/wallpaper2.png');
  }
  100% {
    background-image: url('/assets/images/wallpapers/wallpaper1.png');
  }
}
.animate-background {
  animation: backgroundChange 10s infinite;
}

@keyframes columnImageChange {
  0%,
  100% {
    background-image: url('/assets/images/logos/cacao.png');
  }
  50% {
    background-image: url('/assets/images/logos/cafe.png');
  }
}
.animate-column-image {
  animation: columnImageChange 8s ease-in-out infinite;
}
