@keyframes zoomInOut {
  0%, 100% { transform: scale(1); }
  25%, 75% { transform: scale(1.2); }
  50% { transform: scale(1.4); }
}
.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomInOut 20s ease-in-out infinite;
  transform-origin: center center;
  opacity: 1;
  transition: opacity 1.5s ease-in-out; // Duración del fundido
}
.background-image.fade-out {
  opacity: 0;
}
 @keyframes rotate-border {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

:host {
  // Usamos ::ng-deep para asegurar que los estilos complejos (pseudo-elementos, animación)
  // no sean bloqueados por la encapsulación de estilos de Angular.
  ::ng-deep {
    .animated-border-wrapper {
      position: relative;
      border-radius: 9999px; // fully-rounded

      // Este pseudo-elemento es la "luz" que gira.
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border-radius: inherit; // Hereda la forma redondeada del contenedor
        background: conic-gradient(
          from 180deg at 50% 50%,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 70%,
          #ffffff 95%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: rotate-border 4s linear infinite;
        animation-play-state: paused; // La animación está pausada por defecto
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
      }
      & > * {
        position: relative;
        z-index: 1;
      }
    }
    .group:hover .animated-border-wrapper::before {
      opacity: 1; // Aumentamos la opacidad para un brillo máximo
      animation-play-state: running;
    }
  }
}
