// El :host se refiere al elemento <app-info-coordenadas>.
// Al posicionarlo de forma absoluta, creamos un nuevo contexto de apilamiento.
// Le damos un z-index inferior al de la barra lateral (que usa z-50) para que
// el panel de la barra lateral se muestre por encima.
:host {
  position: absolute;
  // Lo colocamos en la parte inferior del contenedor padre.
  bottom: 0;
  left: 0;
  width: 100%;
  // Altura 0 para que el host no ocupe espacio por sí mismo, ya que sus hijos
  // también están posicionados de forma absoluta.
  height: 0;

  // El sidebar usa z-50. Al usar 40, nos aseguramos de que este componente
  // se renderice por debajo del sidebar.
  z-index: 40;
}
